<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Salim's Recipe Collection{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1><a href="/" style="color:white;text-decoration:none;">🍲 Salima's Recipe Collection</a></h1>
    <nav>
      <a href="/recipes">Recipes</a> |
      <a href="/add">Add</a> |
      <a href="/search">Search</a> |
      <a href="{{ url_for('admin_tags') }}">Manage Tags</a> 

    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    &copy; {{ 2025|default(2025) }} My Recipes
  </footer>
</body>
</html>

